Name - Harsh Sanjay Shah

Import the essential library such as NumPy, Pandas, matplotlib, seaborn, statsmodels.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
%matplotlib inline

Import the csv file.

In [ ]:
gradadmission_dataset  = pd.read_csv('gradadmission.csv')

In [ ]:
gradadmission_dataset.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

Row of the data - 400

Column of the data - 4

In [ ]:
gradadmission_dataset.shape

(400, 4)

In [ ]:
x = gradadmission_dataset.iloc[:,0:3]

In [ ]:
y = gradadmission_dataset.iloc[:,3]

## **Part 1**

Target: admit

Program a multi-dimensional logistic regression model, predicting the probability that the student was admitted.

What is your model's accuracy? (the fraction of the correct predictions to the total cases).

Import the train_test_split library from the model selection.

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(gradadmission_dataset[['gre','gpa','rank']], gradadmission_dataset['admit'], test_size=0.3, random_state=11)

In [ ]:
X_train

     gre   gpa  rank
105  740  2.97     2
228  480  3.43     2
173  800  3.43     2
226  620  3.58     2
205  780  3.80     3
..   ...   ...   ...
269  500  2.81     3
337  620  3.09     4
91   720  3.64     1
80   700  2.90     4
191  800  3.54     3

[280 rows x 3 columns]

In [ ]:
X1_train = sm.add_constant(X_train)

logit = sm.Logit(y_train, X1_train)
admitmodel = logit.fit()
admitmodel.summary()

Optimization terminated successfully.
         Current function value: 0.570314
         Iterations 6

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  280
Model:                          Logit   Df Residuals:                      276
Method:                           MLE   Df Model:                            3
Date:                Mon, 28 Nov 2022   Pseudo R-squ.:                 0.07536
Time:                        07:10:01   Log-Likelihood:                -159.69
converged:                       True   LL-Null:                       -172.70
Covariance Type:            nonrobust   LLR p-value:                 9.403e-06
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -4.3434      1.414     -3.071      0.002      -7.115      -1.572
gre            0.0023      0.001      1.708      0.088      -0.000       0.005
gpa            0.9541      0.400      2.386      0.017       0.170       1.738
rank          -0.4596      0.149     -3.083      0.002      -0.752      -0.167
==============================================================================
"""

In [ ]:
X1_test = sm.add_constant(X_test)
y_predict = admitmodel.predict(X1_test)

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [ ]:
y_predict

276    0.252119
274    0.247394
164    0.308860
393    0.429018
136    0.149166
         ...
153    0.247424
298    0.330733
104    0.498802
83     0.072562
246    0.367795
Length: 120, dtype: float64

In [ ]:
y_predict_int = (y_predict > 0.5).astype(int)
y_predict_int

276    0
274    0
164    0
393    0
136    0
      ..
153    0
298    0
104    0
83     0
246    0
Length: 120, dtype: int64

In [ ]:
len(y_test) - (y_predict_int == y_test).sum()

35

In [ ]:
(y_predict_int == y_test).sum()/len(y_test)

0.7083333333333334

Import the LogisticRegression from linear model.

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
model = LogisticRegression()

Fit the x train and y train.

In [ ]:
model.fit(X_train,y_train)

LogisticRegression()

In [ ]:
y_pred =model.predict(X_test)

Accuracy score for admit is 70.83%.

In [ ]:
model.score(X_test,y_test)

0.7083333333333334

## **Part 2**

Target: rank

Program a multi-class logistic regression model (also multi-dimensional) to predict the rank of the applicant's undergraduate school.

What is your model's accuracy?

Using Ovr method find the accuracy.

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=50, stratify=y)

In [ ]:
ovrlogreg = LogisticRegression(multi_class='ovr', random_state=888)

In [ ]:
model = ovrlogreg.fit(x, y)

In [ ]:
y_pred = model.predict(X_test)
print(f'Misclassified examples: {(y_test != y_pred).sum()}')

Misclassified examples: 54

Accuracy score using ovr method is 46%

In [ ]:
from sklearn.metrics import accuracy_score

print(f'Accuracy: {accuracy_score(y_test, y_pred):.3f}' )

Accuracy: 0.460

Import the train_test_split library from the model selection.

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(gradadmission_dataset[['admit','gre','gpa']],gradadmission_dataset['rank'],test_size=0.3)

Import the LogisticRegression.

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
model = LogisticRegression()

Fit the x train and y train to the model.

In [ ]:
model.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [ ]:
y_pred =model.predict(X_test)

Accuracy for the rank prediction is 45%.

In [ ]:
model.score(X_test,y_test)

0.45